<div class="container.fluid">
  <div class="row">
  <div class="col g-0">
    <div class="d-flex justify-content-center align-items-center mt-5 p-3">
    <h4 class="text-black mt-1" style="text-transform: uppercase;">Verifica tu mail!!</h4>  
    </div>
  </div>
</div>
</div>