<h2>Login</h2>
<form action="/auth/login" method="POST">
<input type="text" name="email" placeholder="email">
<br><br>
<input type="password" name="password" placeholder="password">
<br><br>
<button type=" submit btn btn-primary" value="Login" >Login!</button>
</form>
<a href="/auth/register"> No tengo cuenta!</a>