<div>
  <h2>
    title:
    {{product.title}}
  </h2>
  <h3>
    price:
    {{product.price}}
  </h3>
    description:
  <p>{{product.description}}</p>
  <h3>
    Category:
    {{product.category}}
  </h3>
</div>