<h2>Perfil</h2>
<p><strong>Email:</strong>{{user.email}} </p>
<br>
<p><strong>is Admin:</strong>{{user.isAdmin}}<a href="/auth/administration"> views products </a></p>
<a href="/auth/logout"> go out!</a>
