<h2>Register</h2>
<form action="/auth/register" method="Post">
<input type="text" name="first_name" placeholder="first_name"/>
<input type="text" name="last_name" placeholder="last_name"/>
<input type="text" name="email" placeholder="email"/>
<input type="text" name="password" placeholder="password"/>
<button type=" submit btn btn-primary" value="Registrar" >Registrar!</button>
</form>
<a href="/auth/login"> Ya estoy registrado!</a>