<div class="container">
    <div class="card col-md-6 mx-auto mt-4">
        <div class="card-header bg-primary text-white">
            <h3 class="mb-0">shop</h3>
            <h2>Bienvenido, {{user.email}} (Rol: {{user.isAdmin ? "Admin" : "Usuario"}})<a href="/auth/logout">Salir</a></h2>
        </div>
        <div class="card-body">
            <h5 class="card-title">Qué hacer</h5>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Productos</h4>
                            <h6 class="card-subtitle">Administradores</h6>
                            <p>Algunos productos</p>
                            <a href="/realTimesProducts" class="btn btn-dark">Modificar/Agregar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Usuarios</h4>
                            <h6 class="card-subtitle">Administrador</h6>
                            <p class="card-text">Opciones para usuarios</p>
                            <a href="#" class="btn btn-dark">Modificar/Agregar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title">Chat</h4>
                    <h6 class="card-subtitle">Para usuarios</h6>
                    <p class="card-text">Mensajes de usuarios</p>
                    <a href="/chat" class="btn btn-link">Mensajes</a>
                </div>
            </div>
        </div>
        <div class="card-footer text-center">
            <h4 class="mb-0">Shop</h4>
            <a href="/addProductToCart" class="btn btn-sm btn-dark">Ir a la tienda</a>
        </div>
    </div>
</div>
